<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <%- include('../partials/head') %>
    <body class="d-flex flex-column min-vh-100">
        <%- include('../partials/header') %>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-8 mx-auto text center">
                    
                    <h1 class="display-4">Welcome <%= user ? user.username : 'Guest' %>!</h1>
                    <p class="lead mt-3">This is the home section of the file uploader</p>
                    <p class="text-muted">Feel free to have a glimpse at the files that have been uploaded</p>
                    <% if (!user) { %>
                        <p >
                            To upload 
                            <a class="btn btn-primary btn-lg mx-2" href="/user/login">log in</a> or
                            <a class="btn btn-success btn-lg mx-2" href="/user/sign-up">sign up</a> today!
                        </p>
                    <% } %>
                </div>
            </div>
        </div>


        <%- include('../partials/footer.ejs') %>
    </body>
</html>
