<div class="modal" id="fileUploadModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Upload file</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/user/<%= user.id %>/files/upload<%= folderName ? "/" + folderName : '' %>" method="POST" enctype="multipart/form-data">
                    <label for="fileInput" class="form-label" >Select File</label>
                    <input type="file" class="form-control" name="uploaded_file" id="fileInput" required>
                <button type="submit" class="btn btn-primary">Upload File</button>
            </form></div>
        </div>
    </div>
</div>