<footer>
    <div>
        Created by
        <a href="https://github.com/DanishKodeMonkey"
            >Daniel @ danishKodeMonkey on github</a
        >
    </div>
    <div>
        Powered by <a href="http://expressjs.com/">Express</a>,
        <a href="https://www.prisma.io/">PrismaORM</a> and
        <a href="https://www.postgresql.org/">postgreSQL</a>
    </div>
</footer>
