<footer class="bg-secondary text-center text-lg-start mt-auto">
    <div class="container p4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Created by</h5>
                <p>
                    <a class="text-decoration-none" href="https://github.com/DanishKodeMonkey"
                        >Daniel @ danishKodeMonkey on github</a
                    >
                </p>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Powered by</h5> 
                <a class="text-decoration-none" href="http://expressjs.com/">Express</a>,
                <a class="text-decoration-none" href="https://www.prisma.io/">PrismaORM</a> 
                <a class="text-decoration-none" href="https://www.postgresql.org/">postgreSQL</a>
            </div>
        </div>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>