<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (user && user.id) { %>
                <li>
                    <a href="/user/<%= user.id %>/files">My files</a>
                </li>
            <li><a href="/user/logout">Logout</a></li>
            <% } else {%>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/sign-up">Sign-up</a></li>
            <% } %>
        </ul>
    </nav>
</header>
