<header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <% if (user) { %>
                <li>
                    <a href="" aria-disabled="true" style="pointer-events: none; color: #ccc; text-decoration: line-through;">
                        Upload*Deprecated, to be removed*
                    </a>
                </li>
            <li><a href="/user/logout">Logout</a></li>
            <% } else {%>
            <li><a href="/user/login">Login</a></li>
            <li><a href="/user/sign-up">Sign-up</a></li>
            <% } %>
        </ul>
    </nav>
</header>
